/* === Reset and box-sizing === */
*,
*::before,
*::after 
{
  box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

/* === Calculator Layout === */
#calculator
{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1000px;
    margin: auto;
}

/* === Display === */
#display
{
    display: flex;
    height: 200px;
    align-items: center;

    border: 1px solid black;
    padding-right: 50px;
    font-size: 175px;
    
    overflow-x: auto;
}

/* === Buttons Container === */
#buttons
{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

/* === Buttons === */
button
{
    flex: 0 0 200px;
    padding: 0;
    font-size: 50px;
}