/* === Reset and box-sizing === */
*,
*::before,
*::after 
{
  box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

#calculator
{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1000px;
    margin: auto;
}

#display
{
    display: flex;
    height: 200px;
    border: 1px solid black;
    font-size: 175px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

#buttons
{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

button
{
    flex: 0 0 200px;
    font-size: 50px;
    padding: 0;
}